<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">


        <h5 class="my-0 mr-md-auto front-weight-normal">Блог</h5>
        </a>

        <nav class=" my-2 mt-md-0 mr-md-3">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/login">Войти</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/check">Регистрация</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про Нас</a>
            <a class="py-2 text-dark text-decoration-none" href="#">Подписаться</a>
        </nav>
    </div>
</div>
